### Importación de datos

In [19]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [20]:
venta_tienda_1 = tienda['Precio'].sum()
venta_tienda_1

np.float64(1150880400.0)

In [21]:
venta_tienda_2 = tienda2['Precio'].sum()
venta_tienda_2

np.float64(1116343500.0)

In [22]:
venta_tienda_3 = tienda3['Precio'].sum()
venta_tienda_3

np.float64(1098019600.0)

In [23]:
venta_tienda_4 = tienda4['Precio'].sum()
venta_tienda_4

np.float64(1038375700.0)

# 2. Ventas por categoría

In [24]:
venta_categoria_tienda_1 = tienda.groupby('Categoría del Producto')['Precio'].sum()
venta_categoria_tienda_1

Categoría del Producto
Artículos para el hogar     12698400.0
Deportes y diversión        39290000.0
Electrodomésticos          363685200.0
Electrónicos               429493500.0
Instrumentos musicales      91299000.0
Juguetes                    17995700.0
Libros                       8784900.0
Muebles                    187633700.0
Name: Precio, dtype: float64

In [25]:
venta_categoria_tienda_2 = tienda2.groupby('Categoría del Producto')['Precio'].sum()
venta_categoria_tienda_2

Categoría del Producto
Artículos para el hogar     14746900.0
Deportes y diversión        34744500.0
Electrodomésticos          348567800.0
Electrónicos               410831100.0
Instrumentos musicales     104990300.0
Juguetes                    15945400.0
Libros                      10091200.0
Muebles                    176426300.0
Name: Precio, dtype: float64

In [26]:
venta_categoria_tienda_3 = tienda3.groupby('Categoría del Producto')['Precio'].sum()
venta_categoria_tienda_3

Categoría del Producto
Artículos para el hogar     15060000.0
Deportes y diversión        35593100.0
Electrodomésticos          329237900.0
Electrónicos               410775800.0
Instrumentos musicales      77380900.0
Juguetes                    19401100.0
Libros                       9498700.0
Muebles                    201072100.0
Name: Precio, dtype: float64

In [27]:
venta_categoria_tienda_4 = tienda4.groupby('Categoría del Producto')['Precio'].sum()
venta_categoria_tienda_4

Categoría del Producto
Artículos para el hogar     15074500.0
Deportes y diversión        33350100.0
Electrodomésticos          283260200.0
Electrónicos               409476100.0
Instrumentos musicales      75102400.0
Juguetes                    20262200.0
Libros                       9321300.0
Muebles                    192528900.0
Name: Precio, dtype: float64

# 3. Calificación promedio de la tienda

In [44]:
valoracion_tienda_1 = tienda['Calificación'].mean()
print(f"La calificación promedio de la tienda 1 es: {valoracion_tienda_1.round(2)}")

La calificación promedio de la tienda 1 es: 3.98

In [45]:
valoracion_tienda_2 = tienda2['Calificación'].mean()
print(f"La calificación promedio de la tienda 2 es: {valoracion_tienda_2.round(2)}")

La calificación promedio de la tienda 2 es: 4.04

In [46]:
valoracion_tienda_3 = tienda3['Calificación'].mean()
print(f"La calificación promedio de la tienda 3 es: {valoracion_tienda_3.round(2)}")

La calificación promedio de la tienda 3 es: 4.05

In [47]:
valoracion_tienda_4 = tienda4['Calificación'].mean()
print(f"La calificación promedio de la tienda 4 es: {valoracion_tienda_4.round(2)}")

La calificación promedio de la tienda 4 es: 4.0

# 4. Productos más y menos vendidos

In [39]:
producto_mas_vendido_tienda_1 = tienda['Producto'].value_counts().idxmax()
print(f"El producto mas vendido de la tienda 1 fue: {producto_mas_vendido_tienda_1}")

producto_menos_vendido_tienda_1 = tienda['Producto'].value_counts().idxmin()
print(f"El producto menos vendido de la tienda 1 fue: {producto_menos_vendido_tienda_1}")

El producto mas vendido de la tienda 1 fue: Microondas
El producto menos vendido de la tienda 1 fue: Auriculares con micrófono

In [40]:
from numpy._core.fromnumeric import prod
producto_mas_vendido_tienda_2 = tienda2['Producto'].value_counts().idxmax()
print(f"El producto mas vendido de la tienda 2 fue: {producto_mas_vendido_tienda_2}")

producto_menos_vendido_tienda_2 = tienda2['Producto'].value_counts().idxmin()
print(f"El producto menos vendido de la tienda 2 fue: {producto_menos_vendido_tienda_2}")

El producto mas vendido de la tienda 2 fue: Iniciando en programación
El producto menos vendido de la tienda 2 fue: Juego de mesa

In [42]:
producto_mas_vendido_tienda_3 = tienda3['Producto'].value_counts().idxmax()
print(f"El producto mas vendido de la tienda 3 fue: {producto_mas_vendido_tienda_3}")

producto_menos_vendido_tienda_3 = tienda3['Producto'].value_counts().idxmin()
print(f"El producto menos vendido de la tienda 3 fue: {producto_menos_vendido_tienda_3}")

El producto mas vendido de la tienda 3 fue: Kit de bancas
El producto menos vendido de la tienda 3 fue: Bloques de construcción

In [43]:
producto_mas_vendido_tienda_4 = tienda4['Producto'].value_counts().idxmax()
print(f"El producto mas vendido de la tienda 4 fue: {producto_mas_vendido_tienda_4}")

producto_menos_vendido_tienda_4 = tienda4['Producto'].value_counts().idxmin()
print(f"El producto menos vendido de la tienda 4 fue: {producto_menos_vendido_tienda_4}")

El producto mas vendido de la tienda 4 fue: Cama box
El producto menos vendido de la tienda 4 fue: Guitarra eléctrica

# 5. Envío promedio por tienda

In [49]:
promedio_costo_envio_tienda_1 = tienda['Costo de envío'].mean()
print(f"El promedio de costo de envio de la tienda 1 es: {promedio_costo_envio_tienda_1.round(2)}")

El promedio de costo de envio de la tienda 1 es: 26018.61

In [50]:
promedio_costo_envio_tienda_2 = tienda2['Costo de envío'].mean()
print(f"El promedio de costo de envio de la tienda 2 es: {promedio_costo_envio_tienda_2.round(2)}")

El promedio de costo de envio de la tienda 2 es: 25216.24

In [51]:
promedio_costo_envio_tienda_3 = tienda3['Costo de envío'].mean()
print(f"El promedio de costo de envio de la tienda 3 es: {promedio_costo_envio_tienda_3.round(2)}")

El promedio de costo de envio de la tienda 3 es: 24805.68

In [52]:
promedio_costo_envio_tienda_4 = tienda4['Costo de envío'].mean()
print(f"El promedio de costo de envio de la tienda 4 es: {promedio_costo_envio_tienda_4.round(2)}")

El promedio de costo de envio de la tienda 4 es: 23459.46

# Graficado

In [ ]:
import matplotlib.pyplot as plt

# Datos para el gráfico
tiendas = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']
promedios = [valoracion_tienda_1, valoracion_tienda_2, valoracion_tienda_3, valoracion_tienda_4]

# Crear el gráfico de barras
plt.figure(figsize=(10, 6))
plt.bar(tiendas, promedios, color=['skyblue', 'lightgreen', 'salmon', 'orchid'])

# Añadir títulos y etiquetas
plt.title('Calificación Promedio por Tienda', fontsize=15)
plt.xlabel('Tiendas', fontsize=12)
plt.ylabel('Calificación Promedio', fontsize=12)
plt.ylim(0, 5)  # Rango de calificaciones de 1 a 5

# Añadir los valores sobre las barras
for i, v in enumerate(promedios):
    plt.text(i, v + 0.1, str(v.round(2)), textAlign='center', fontweight='bold')

plt.show()